docs
*.aux
*.log
*.pdf
setup.data
setup.ml
setup.log
_build
*.byte
src/parser
src/AbsLamPi.ml
src/BNFC_Util.ml
src/LexLamPi.mll
src/ParLamPi.mly
src/PrintLamPi.ml
src/ShowLamPi.ml
src/SkelLamPi.ml
src/TestLamPi.ml
resources
